In [1]:

# # Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install statsmodels
import pandas as pd
from collections import Counter
import numpy as np
from statsmodels.sandbox.stats.multicomp import multipletests

In [2]:
path_file = "D:/Hanze_Groningen/STAGE/GT2.tsv"
df = pd.read_csv(path_file, sep='\t')
df

C:\Users\Anne_\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3397: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,snp_ID,chr,pos_start,pos_end,GT_1_b,GT_2_b,GT_0_b,GT_1_nb,GT_2_nb,GT_0_nb
0,8070609,1,565361,565361,1.0,0.0,285.0,0.0,0.0,1952.0
1,8044916,1,568813,568813,1.0,0.0,285.0,0.0,0.0,1952.0
2,8443261,1,729983,729983,1.0,0.0,285.0,0.0,0.0,1952.0
3,8066911,1,748323,748323,1.0,0.0,285.0,0.0,0.0,1952.0
4,8061330,1,771074,771074,1.0,0.0,285.0,0.0,0.0,1952.0
...,...,...,...,...,...,...,...,...,...,...
9642903,13010824,Y,59311457,59311457,0.0,0.0,286.0,1.0,0.0,1951.0
9642904,13380994,Y,59327858,59327858,0.0,0.0,286.0,1.0,0.0,1951.0
9642905,13380995,Y,59345584,59345584,0.0,0.0,286.0,1.0,0.0,1951.0
9642906,13010826,Y,59352411,59352411,0.0,0.0,286.0,1.0,0.0,1951.0
9642907,13025331,Y,59355915,59355915,0.0,0.0,286.0,1.0,0.0,1951.0

In [3]:
#286 and 1952
df['GT_b_sum'] = (df['GT_0_b'] * 0) + (df['GT_1_b'] * 1) + (df['GT_2_b'] * 2)
df['b_donors'] = df['GT_0_b'] + df['GT_1_b'] + df['GT_2_b']

df['GT_nb_sum'] = (df['GT_0_nb'] * 0) + (df['GT_1_nb'] * 1) + (df['GT_2_nb'] * 2)
df['nb_donors'] = df['GT_0_nb'] + df['GT_1_nb'] + df['GT_2_nb']

df['GT_total_sum'] = df['GT_b_sum'] + df['GT_nb_sum']
df['total_donors'] = df['b_donors'] + df['nb_donors']
df

,snp_ID,chr,pos_start,pos_end,GT_1_b,GT_2_b,GT_0_b,GT_1_nb,GT_2_nb,GT_0_nb,GT_b_sum,b_donors,GT_nb_sum,nb_donors,GT_total_sum,total_donors
0,8070609,1,565361,565361,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0
1,8044916,1,568813,568813,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0
2,8443261,1,729983,729983,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0
3,8066911,1,748323,748323,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0
4,8061330,1,771074,771074,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9642903,13010824,Y,59311457,59311457,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0
9642904,13380994,Y,59327858,59327858,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0
9642905,13380995,Y,59345584,59345584,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0
9642906,13010826,Y,59352411,59352411,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0
9642907,13025331,Y,59355915,59355915,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0

In [5]:
df['AF_breast'] = df['GT_b_sum'] / df['b_donors']
df['AF_nonbreast'] = df['GT_nb_sum'] / df['nb_donors']
df['AF_total'] = df['GT_total_sum'] / df['total_donors']
df

,snp_ID,chr,pos_start,pos_end,GT_1_b,GT_2_b,GT_0_b,GT_1_nb,GT_2_nb,GT_0_nb,GT_b_sum,b_donors,GT_nb_sum,nb_donors,GT_total_sum,total_donors,AF_breast,AF_nonbreast,AF_total
0,8070609,1,565361,565361,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0,0.003497,0.000000,0.000447
1,8044916,1,568813,568813,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0,0.003497,0.000000,0.000447
2,8443261,1,729983,729983,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0,0.003497,0.000000,0.000447
3,8066911,1,748323,748323,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0,0.003497,0.000000,0.000447
4,8061330,1,771074,771074,1.0,0.0,285.0,0.0,0.0,1952.0,1.0,286.0,0.0,1952.0,1.0,2238.0,0.003497,0.000000,0.000447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9642903,13010824,Y,59311457,59311457,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0,0.000000,0.000512,0.000447
9642904,13380994,Y,59327858,59327858,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0,0.000000,0.000512,0.000447
9642905,13380995,Y,59345584,59345584,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0,0.000000,0.000512,0.000447
9642906,13010826,Y,59352411,59352411,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0,0.000000,0.000512,0.000447
9642907,13025331,Y,59355915,59355915,0.0,0.0,286.0,1.0,0.0,1951.0,0.0,286.0,1.0,1952.0,1.0,2238.0,0.000000,0.000512,0.000447